# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Crash log files
crash.log


*.tfplan
*.backup

*.swp
*.swo
*~
.DS_Store
Thumbs.db
*.pem
*.key
